@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.heading {
  font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    text-align: center;
}

.heading h1 {
  margin-bottom: 1.8rem;
  font-weight: 300;
  position: relative;
}

.heading h1:after {
  content: '';
  cursor: auto;
  height: 1px;
  width: 2rem;
  position: absolute;
  left: 50%;
  bottom: -1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}

a {
  text-decoration: none;
}