@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
span.university-info {
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  color: #000;
  font-size: 25px;
  width: 100%;
  height: 100%;
  border-width: 2px;
  padding: 7px;
  color: #000;
  /*
  display: -webkit-flex;  
  -webkit-align-items: center; 
  align-items: center; 
  -webkit-justify-content: center; 
  justify-content: center;
  */
  -webkit-font-smoothing: antialiased;

}

.Collapsible {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #204d90;
  color: #fff;
  padding: 18px;
  padding-bottom: 8px;
  margin: 3px;
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

.Collapsible__trigger.is-open:hover,
.Collapsible__trigger.is-closed:hover{
  cursor: pointer;
  overflow: scroll;
}

.Collapsible__contentOuter {
	margin-top: 15px;
}

.info {
	padding: 10px;
	display: block;
}

.money:before {
  content: 'R$ ';
  color: rgb(15, 119, 32)
}

.info-label {
	padding: 15px;
}

.expenses-div,
.igc-div {
	border-left: 6px solid #204d90;
	padding: 10px;
  margin: 5px;
}

.content {
	text-align: left;
  color: #fff;
  font-size: 23px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-width: 2px;
  padding: 8px;
  color: #000;
  display: inline-flex;
}

.info-under {
  display: flex;
  text-align: center;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 19px;
  height: auto;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.856);
  color: #000;
  text-align: center;
  border-radius: 6px;
  border-style: dashed;
  border-color: #e2771f;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: 150px;
  margin-left: -60px;
  overflow: hidden;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}