@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root{
  height: 100%;
  width: 90%; 
  margin: 0 auto;
}

body{
  font-size: 14px;
  color: #000;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #204c90;
}