@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body,
#root{
  height: 100%;
  min-width: 900px; 
  margin: 0 auto;
}

body{
  font-size: 14px;
  color: #000;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #204c90;
  margin: 0;
}

@media screen and (max-width: 900px) {
  html, body, #root {
    min-width: 300px;
  }
}